$fuente_principal: 'Roboto Mono', monospace;
$fondo: #3a3a3a;
$amarillo: #e6ba44;
$turquezza: #59ac9d;
$amarilloClaro: #f9e8ba;
$grisoscuro: #252526;
$grisclaro: #e1e1e1;
$rojo: #da4648;
//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

