$fuente_principal: 'Roboto', monospace;
$fondo: #252526;
$amarillo: #179956 ;
$amarilloClaro: #DAEEF0;
$turquezza: #59ac9d;
// $amarilloClaro: #E8EEF2;
$grisoscuro: #555152;
$grisclaro: #e1e1e1;
$rojo: #C69D46;
//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

