$fuente_principal: 'Roboto', monospace;
$fondo: #252526;
$amarillo: #EEAD35 ;
$amarilloClaro: #6E6E70;
$turquezza: #630cb4;
// $amarilloClaro: #E8EEF2;
$grisoscuro: #555152;
$grisclaro: #e1e1e1;
$rojo: #0A0A0C;
//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

