@use '../base/variables' as v;
@use '../base/mixins' as m;

.enlace{
    width: 100%;
    margin: 0 auto;
}

@include m.telefono{
    .contenedor-pages{
        display: block;
        margin: 0 auto;
    }
}


@include m.desktop {
    .contenedor-pages {
        @include m.grid(2, 2rem);
        margin: 0 auto;

        .contenedor-pagesElemento {
            @include m.borderRadius;
            padding: 1rem;
            margin: 0 auto;
            .subtitulo{
                font-size: 1.2rem;

            }
            img {
                
                &:hover {
                    transition: 0.4s;
                    transform: scale(1.05);

                }
            }

            &:hover {
                background-color: v.$grisoscuro;
                .subtitulo{
                    color: v.$grisclaro;
    
                }
            }


        }

    }
}